@model IEnumerable<RoofstockExercise.Models.PropertyListing>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Roofstock Full-Stack Exercise</h1>
    <br />
    <table class="table table-bordered table-striped table-bordered table-hover table-sm">
        @if (Model?.Count() == 0)
        {
            <tr>  
                <td colspan="10">No Record's found.</td>  
            </tr>
        }
        else if (Model != null)
        {
            <thead>  
                <tr class="table-dark">
                    <th>Address</th>
                    <th>Year Built</th>  
                    <th>List Price</th>
                    <th>Monthly Rent</th>
                    <th>Gross Yield</th>
                    <th>Save Property</th>
                </tr>  
            </thead>     
        foreach (var item in Model)  
            {  
                using (Html.BeginForm("SaveListing", "Home", FormMethod.Post)) {
                <tr>
                    <td id="field">@item.Address?.Address1, @item.Address?.City @item.Address?.State, @item.Address?.Zip</td>  
                    @if (@item.YearBuilt == null) { <td id="field">N/A</td> }
                    else { <td id="field">@item.YearBuilt</td> }
                    @if (@item.ListPrice == null) { <td id="field">N/A</td> }
                    else { <td id="field">$@item.ListPrice</td> }
                    @if (@item.MonthlyRent == null) { <td id="field">N/A</td> }
                    else { <td id="field">$@item.MonthlyRent</td> }
                    @if (@item.GrossYield == null) { <td id="field">N/A</td> }
                    else { <td id="field">@item.GrossYield?.ToString("0.00")%</td> }
                    <td id="save-btn">
                        @Html.Hidden("listing.Address.Address1", item.Address?.Address1)
                        @Html.Hidden("listing.Address.Address2", item.Address?.Address2)
                        @Html.Hidden("listing.Address.City", item.Address?.City)
                        @Html.Hidden("listing.Address.Country", item.Address?.Country)
                        @Html.Hidden("listing.Address.County", item.Address?.County)
                        @Html.Hidden("listing.Address.District", item.Address?.District)
                        @Html.Hidden("listing.Address.State", item.Address?.State)
                        @Html.Hidden("listing.Address.Zip", item.Address?.Zip)
                        @Html.Hidden("listing.Address.ZipPlus4", item.Address?.ZipPlus4)
                        @Html.Hidden("listing.YearBuilt", item.YearBuilt)
                        @Html.Hidden("listing.ListPrice", item.ListPrice)
                        @Html.Hidden("listing.MonthlyRent", item.MonthlyRent)
                        @Html.Hidden("listing.GrossYield", item.GrossYield)
                        <input value="Save" name="listing" type="submit" class="btn btn-success"/>
                    </td>
                </tr>
                }
            }
        }
    </table>
</div>