@model IEnumerable<RoofstockExercise.Models.PropertyListing>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table table-bordered table-condensed table-striped table-hover sortable">
        @if (Model?.Count() == 0)
        {
            <tr>  
                <td colspan="10">No Record's found.</td>  
            </tr>
        }
        else if (Model != null)
        {
            <thead>  
                <tr class="danger">
                    <th data-defaultsign="desc">Address</th>
                    <th data-defaultsign="_19">Year Built</th>  
                    <th data-defaultsign="_19">List Price</th>
                    <th data-defaultsign="_19">Monthly Rent</th>
                    <th data-defaultsign="_19">Gross Yield</th>
                    <th>Save Property</th>
                </tr>  
            </thead>     
        foreach (var item in Model)  
            {  
                using (Html.BeginForm("SaveListing", "Home", FormMethod.Post)) {
                <tr>  
                    <td>@item.Address?.Address1, @item.Address?.City @item.Address?.State, @item.Address?.Zip</td>  
                    @if (@item.YearBuilt == null) { <td>N/A</td> }
                    else { <td>@item.YearBuilt</td> }
                    @if (@item.ListPrice == null) { <td>N/A</td> }
                    else { <td>$@item.ListPrice</td> }
                    @if (@item.MonthlyRent == null) { <td>N/A</td> }
                    else { <td>$@item.MonthlyRent</td> }
                    @if (@item.GrossYield == null) { <td>N/A</td> }
                    else { <td>@item.GrossYield?.ToString("0.00")%</td> }
                    <td>
                        @Html.Hidden("listing.Address.Address1", item.Address?.Address1)
                        @Html.Hidden("listing.Address.Address2", item.Address?.Address2)
                        @Html.Hidden("listing.Address.City", item.Address?.City)
                        @Html.Hidden("listing.Address.Country", item.Address?.Country)
                        @Html.Hidden("listing.Address.County", item.Address?.County)
                        @Html.Hidden("listing.Address.District", item.Address?.District)
                        @Html.Hidden("listing.Address.State", item.Address?.State)
                        @Html.Hidden("listing.Address.Zip", item.Address?.Zip)
                        @Html.Hidden("listing.Address.ZipPlus4", item.Address?.ZipPlus4)
                        @Html.Hidden("listing.YearBuilt", item.YearBuilt)
                        @Html.Hidden("listing.ListPrice", item.ListPrice)
                        @Html.Hidden("listing.MonthlyRent", item.MonthlyRent)
                        @Html.Hidden("listing.GrossYield", item.GrossYield)
                        <input type="submit" value="Save", name="listing"/>
                    </td>
                </tr>
                }
            }
        }
    </table>
</div>